 /* FONTS */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/raleway-v22-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/raleway-v22-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}


/* Global */

body{margin:0;
  font-family: 'Lato','Raleway','Helvetica Neue','Arial',sans-serif;
  font-size:16px;
  /* background-color: rgba(0, 51, 102,0.2); */
  background-image: linear-gradient(to right, rgba(0, 51, 102,0.3),rgba(245, 245, 245,00))
}


body, html{
  height:100%;
  margin: 0;
  padding: 0;
}
*{box-sizing: border-box;}

.screenreader{
  display: none;
}

section{
  margin-top: 75px;
}


.clearfix::after{
  content:"";
  clear: both;
  display: block;
}

h1{
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
}

/* -------------------------------------------------- */

/* Oberer Balken */
#header .flexbox{
  /* background-color: rgba(245, 238, 237,0.6); */
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba(216,171,107,0.9);
  padding: 1.5rem 6rem;
  z-index: 2;
}

#logo img{
  width: 180px;
  height: auto;
}


#notfallnr{
  padding:  1rem 0;
  height:   auto;
  }

#notfallnr  span{
  color: rgba(229,15,15,227);
  font-size:2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
}



#notfallnr:hover > #wichtigenr{
    display: block;
}


#wichtigenr{
  display: none;
  width: 300px;
  position: absolute;
  padding:0 1rem 0 1rem;
  background-color: rgba(245, 238, 237,1);
  top:80px;
  right:5rem;
  border: solid 5px rgba(229,15,15,227);
  z-index: 3;
}

#wichtigenr li{
  list-style: none;
  padding-bottom:0.3rem;
  color: rgba(229,15,15,227);
}
#wichtigenr ul{
  margin: 0.5rem 0;
}
#wichtigenr li span{
  width: auto;
  position: absolute;
  right: 65px;
  font-size: 1rem;
  cursor: auto;
  font-weight: normal;
  color: rgba(229,15,15,227);
  padding: 0;
}


@media (max-width:780px) {
  #header .flexbox{
    padding: 1.4rem;}
}

@media (max-width:600px) {
      #header .flexbox{height: 90px;}
   #header #logo img{width: 140px;
    height: auto;}
   #notfallnr> span{
    padding: 0.5;
    font-size: 1.5rem;}
    #header .flexbox{
    padding: 1rem;}
    #notfallnr{padding: 0.6rem;}
}
@media (max-width:420px) {
   #header #logo img{width: 100px;
    height: auto;}
   #notfallnr{padding: 0.45rem 0;}
   #header .flexbox{
   padding: 1.5rem 0.8rem;}
   #notfallnr> span{
   font-size: 1.3rem;
   padding: 0.5rem;
    }
}
/*------------------------------------------------------------- Header-Nav -------------------------------------------------------------*/
#header-nav .flexbox, #header-navKlein .flexbox, #header-navMobil .flexbox{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
#header-nav .flexelement, #header-navKlein .flexelement, #header-navMobil .flexelement{
    width: 100%;
}

#header-nav a, #header-navKlein a, #header-navMobil a {
  border: 2px solid rgba(189,193,160,0.6);
  color: black;
  text-decoration:  none;
  font-weight: bold;
  font-size: 1.4rem;
  /* border-radius: 20%; */
}

#header-nav .flexbox{
  width: 80%;
}

#header-nav .flexelement{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#header-nav .flexbox a{
  padding: 0 1.5rem;
}

#header-navKlein .flexbox{
  width: 80%;
  height: auto;
  flex-direction: column;

}
#header-navKlein .flexelement a:nth-of-type(1){
  width: 140px;
  text-align: center;
}
#header-navKlein .flexelement a:nth-of-type(2){
  width: 240px;
  text-align: center;
}
#header-navKlein .flexelement a:nth-of-type(3){
  text-align: center;
  width: 140px;
}
#header-navKlein .flexelement{
  padding:0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



#header-navMobil .flexbox{
  width: 90%;
  height: auto;
}

#header-navMobil .flexbox a{
  font-size: 1rem;
  margin-top: 0.2rem;
  text-align: center;
}

#header-navMobil .flexelement{
  padding:0.5rem;
  display:flex;
  flex-direction: column;
}


.activeMobil{
background-color: #e0deda;
}
.punkteMobil:hover{
  box-shadow: 0 5px 0 2px rgba(189,193,160,0.6);;
}
.active{
  transform: translateY(0.2em)!important;
background-color: #e0deda;
}
.punkte:hover{
  box-shadow: 0 5px 0 2px rgba(189,193,160,0.6);;
  transform: translateY(-0.2em);}

@media (max-width:1370px) {
  #header-nav .flexbox{
    width: 95%;}

}

@media (max-width:1280px) {
    #header-nav .flexbox a{
      padding: 0 .7rem;}
}

@media (min-width:1024px) {
  #header-navKlein{
    display: none;}

}
@media (max-width:1024px) {
  #header-nav{
    display: none;}
    #header-navKlein{
      display: block;}
}
@media (max-width:780px) {
  #header-navKlein .flexbox{
    width: 90%;}}
@media(min-width:600px){
    #header-navMobil{display: none;}
}
@media (max-width:600px) {
    #header-navKlein{display:none;}
    #header-navMobil{display:block;}
}
@media (max-width:480px) {
  #header-navMobil .flexbox{
    width: 100%;}}
/*------------------------------------------------------------Video-Sprechstunde ------------------------------------------------------------*/
#sprechstunde{
  position: relative;
  width: 80%;
  border: 5px solid rgba(245, 238, 237,0.9);
  margin-left: auto;
  margin-right: auto;
}

#sprechstunde .flexbox{
  display: flex;}

#sprechstunde >.flexbox .flexelement:first-of-type {flex-basis: 70%;}
#sprechstunde >.flexbox .flexelement:last-of-type {flex-basis: 30%;}

#sprechstunde #bild1{
  -webkit-animation: anni1;
          animation: anni1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#sprechstunde #bild2{
  -webkit-animation: anni2;
          animation: anni2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

}

@-webkit-keyframes anni1 {
  0% {
    background: url("../img/vs2.1.png") no-repeat;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  30% {
    background: url("../img/vs3.1.png") no-repeat ;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  100%{
    background: url("../img/vs3.1.png")no-repeat;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }
}

@keyframes anni1 {
  0% {
    background: url("../img/vs2.1.png") no-repeat;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  30% {
    background: url("../img/vs3.1.png") no-repeat ;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  100%{
    background: url("../img/vs3.1.png")no-repeat;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }
}

@-webkit-keyframes anni2 {
  0% {
    background: url("../img/vs3.1.png")no-repeat ;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  30% {
    background: url("../img/vs2.1.png")no-repeat ;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  100%{
    background: url("../img/vs2.1.png")no-repeat;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }
}

@keyframes anni2 {
  0% {
    background: url("../img/vs3.1.png")no-repeat ;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  30% {
    background: url("../img/vs2.1.png")no-repeat ;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }

  100%{
    background: url("../img/vs2.1.png")no-repeat;
    height: 0;
    width: 100%;
    padding-top:55.3%;
    background-size: contain;
  }
}

#sprechstunde  .pic > .feld{
  position: absolute;
  height: 25%;
  width: 60%;
  bottom: 0px;
  background-image: linear-gradient(to right, rgba(245, 238, 237,0.9),rgba(245, 238, 237,00))
}

#sprechstunde .pic> .feld >span{
  position: absolute;
  left: 70px;
  top: 0.8rem;
  font-size: 2rem;
}

#sprechstunde .pic  >.feld>a{
  text-decoration: none;
  color:black;
  font-size: 1.5rem;
  background-color: rgba(216,171,107,0.9);
  padding: 0.6rem;
  width: auto;
  position: absolute  ;
  bottom:1rem;
  left:70px;
  text-align: center;
  border: 3px solid black;
}

#sprechstunde .pic >.feld >a:hover{
  font-weight: bold;
border: 3px solid rgba(245, 238, 237,0.7);
}

#sprechstunde h1{
  padding-top: 2rem;
  margin-bottom: 4rem;
}
#sprechstunde .info{
  height: 100%;
  background-color: rgba(216,171,107,0.9);
}

#sprechstunde ul {
  list-style-type: square;
  -webkit-margin-start:1rem;
          margin-inline-start:1rem;
}

#sprechstunde .info li{
  padding-bottom:  3rem;
}

#sprechstunde .info li span {
  position: absolute;
  right: 4rem;
}

.mobilInfo{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 3px solid rgba(245, 238, 237,0.9);
  background-color: rgba(216,171,107,0.9);}

.mobilInfo h1{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.mobilInfo p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;}
@media (max-width:1580px) {
  #sprechstunde ul {
    list-style-type: square;
    -webkit-margin-start:0;
            margin-inline-start:0;}
  #sprechstunde .info li{
    padding-bottom:  2.0rem;}
  #sprechstunde .info li span {
    position: absolute;
    right: 1.5rem;}
  #sprechstunde .pic  >.feld>span{
    top:0;
  }
  #sprechstunde h1{
    margin-bottom: 3rem;
  }
}
@media (max-width:1370px)  {
  #sprechstunde{
    width: 95%;}
}
@media (max-width:1200px)  {
    #sprechstunde h1{
      padding-top: 1.5rem;
      margin-bottom: 2rem;
    }
  #sprechstunde .pic > .feld >a{
    padding: 0.3rem;}
  #sprechstunde .info li span {
    position: absolute;
    right: .5rem;}
}
@media(min-width:1040px){
  .mobilInfo{display: none;}
}
@media (max-width:1040px)  {
    section{margin-top: 40px;}
  .mobilInfo{display: block;}
 #sprechstunde .info{display: none;}
   #sprechstunde >.flexbox .flexelement:last-of-type {flex-basis: 0%;}
   #sprechstunde >.flexbox .flexelement:first-of-type {flex-basis: 100%;}
   #sprechstunde{width:80%;
   border: none;
 }
   #sprechstunde .pic{
     border: 3px solid rgba(245, 238, 237,0.9);
   }
   #sprechstunde .pic >.feld> a{
     font-size: 1.5rem;
     padding: 0.2rem;
     position: absolute;
     bottom: 5px;
     left:0px;
   }
   #sprechstunde .pic> .feld >span{
     position: absolute;
     left:0;
     top: 0;
     font-size: 1.5rem;}
}
@media (max-width:780px){
  #sprechstunde{width:90%;
  }
  #sprechstunde .pic> .feld >span{font-size: 1.5rem;}
  .mobilInfo{width: 80%;}
}
@media (max-width:600px){
    #sprechstunde .pic >.feld> a{
      font-size: 1rem;padding: 0;}
    .mobilInfo{width: 90%;}
    #sprechstunde .pic> .feld >span{font-size: 1rem;}
}

@media (max-width:480px){
    section{margin-top: 30px;}
    #sprechstunde .pic >.feld{height: 30%;width:80%;}
    #sprechstunde {width:100%;}
    .mobilInfo{width:100%;}
}
@media (max-width:350px){
    section{margin-top: 20px;}
    #sprechstunde .pic >.feld> a{
      font-size:0.8rem;}
    #sprechstunde .pic >.feld>span{
        font-size:0.8rem;}
    #sprechstunde .pic >.feld{height: 35%;}
}
/*-------------------------------------- corona --------------------------------------------------------------*/

#corona{
  position: relative;
  width: 80%;
  border: 5px solid rgba(245, 238, 237,0.9);
  margin-left: auto;
  margin-right: auto;
}
#corona .flexbox{
  display: flex;
}
#corona >.flexbox .flexelement:first-of-type {flex-basis: 30%;}
#corona >.flexbox .flexelement:last-of-type {flex-basis: 70%;
}

#corona .pic{
  height: 0;
  width: 100%;
  padding-top:55.3%;
  /* l/b =52.45% */
  background: url("../img/corona3.1.png") right no-repeat ;
  background-size: contain;
}


#corona .pic > .feld2{
  position: absolute;
  height: 25%;
  width: 60%;
  bottom: 0;
  right:0;
  background-image: linear-gradient(to left, rgba(245, 238, 237,0.9),rgba(245, 238, 237,00))
}

#corona .feld2 >span{
  position: absolute;
  right: 75px;
  top: 0.8rem;
  font-size: 2rem;
}

#corona .pic a{
  text-decoration: none;
  color:black;
  font-size: 1.5rem;
  background-color: rgba(216,171,107,0.9);
  padding: 0.6rem;
  width: auto;
  position: absolute  ;
  bottom: 1rem;
  right:75px;
  text-align: center;
  border: 3px solid black;
}

#corona .pic >.feld2 >a:hover{
  font-weight: bold;
  border: 3px solid rgba(245, 238, 237,0.7);
}

#corona .info{
  width: 100%;
  height: 100%;
  background-color: rgba(216,171,107,0.9);
}

#corona h1{
  padding-top: 1.5rem;
}
#corona ul{
  padding-top: 2rem;
  list-style-type: none;
  -webkit-padding-start:0;
          padding-inline-start:0;
}

#corona ul li{
  padding: 1.5rem 0 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}
@media (max-width:1580px){
  #corona .pic span{
    top:0;}
  #corona ul{
    padding-top: 0;}
}
@media (max-width:1370px)  {
  #corona{
    width: 95%;}
}
@media(max-width:1200px){
  #corona ul li{
    padding: 1rem 0 1rem;
  }
  #corona .pic  a{
  padding: 0.3rem;}
}
@media (min-width:1040px){
  #coronaMobil{ display:none;}
}

@media (max-width:1040px)  {
   #coronaMobil{display: block;}
   #corona .info{display: none;}
   #corona >.flexbox .flexelement:last-of-type {flex-basis: 100%;}
   #corona >.flexbox .flexelement:first-of-type {flex-basis: 0%;}
   #corona{width:80%;
   border: none;}
   #corona .pic{
     height: 0;
     width: 100%;
     padding-top:56.0%;
     background: url("../img/corona3.1.png") center no-repeat ;
     border: 3px solid rgba(245, 238, 237,0.9);
     background-size: contain;   }
   #corona .pic span{
     position: absolute;
     right:5px;
     top: 0;
     font-size: 1.5rem;}
   #corona .pic a{
     font-size: 1.5rem;
     padding: 0.2rem;
     position: absolute ;
     bottom: 5px;
     right:5px;
   }
}

@media (max-width:780px){
  #corona {width:90%;}
}

@media (max-width:600px){
    #corona .pic a{
      font-size: 1rem;
    padding:0;}
    #corona .pic span{font-size: 1rem;}

}

@media (max-width:480px){
    #corona {width: 100%;}
    #corona .pic >.feld2> a{
      font-size:0.8rem;}
    #corona .pic >.feld2{height: 35%;}
}

/*------------------------------------------------------------ terminvereinbarung ------------------------------------------------------------*/

 #terminvereinbarung{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem 0;
}

#terminvereinbarung .flexcont{
  display: flex;
  justify-content: space-around;
}
#terminvereinbarung .flexbox{
  margin-top: 5rem;
}

#terminvereinbarung .flexbox:first-of-type{
  flex-basis: 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 0;
background-image: linear-gradient(to left, rgba(0, 51, 102,0.3),rgba(245, 245, 245,00))
}

#terminvereinbarung .flexbox:first-of-type .flexelement{
  margin-bottom: 2rem;

}
#terminvereinbarung .flexbox:first-of-type .flexelement div{
  margin-left: auto;
margin-right: auto;
width: 300px;

}
#terminvereinbarung .flexbox:first-of-type .flexelement a{
  background-color: rgba(216,171,107,0.9);
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  padding: 1rem 2rem;;
}
#terminvereinbarung .flexbox:first-of-type .flexelement h1{
    padding-bottom: 1rem;
}


#terminvereinbarung .flexbox:last-of-type{flex-basis: 30%;}
#terminpic{
  height: 0;
  width: 100%;
  padding-top:96.33%;
  background: url("../img/kalender.png") center no-repeat ;
  background-size: contain;
}

#terminvereinbarung a:hover{
  border: 3px solid white;
}



@media (max-width:1580px){
  #terminvereinbarung{  width: 95%;}
}
@media (max-width:1370px)  {
  #terminvereinbarung .flexbox:first-of-type{
    padding: 1rem 0;}
    #terminvereinbarung .flexbox{
      margin-top: 3rem;
    }

}
@media(max-width:1200px){
  #terminvereinbarung .flexbox:last-of-type{flex-basis: 35%;}
  #terminvereinbarung .flexbox{
    margin-top: 1rem;}
}
@media (max-width:1040px)  {
  #terminvereinbarung .flexbox:last-of-type{flex-basis: 0;}
  #terminvereinbarung .flexbox:first-of-type{flex-basis: 100%;}
    #terminvereinbarung{  width: 80%;}
}

@media (max-width:600px)  {

    #terminvereinbarung{  width: 90%;}
}


/* wunschtermin */


#termin{
  margin-top: 50px;
}


#termin h1{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgba(245, 238, 237,0.9);
  border: 3px solid rgba(216,171,107,0.9);
  padding: 1rem;
}
#termin .flexcont{
  display: flex;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
}
#termin .flexcont .flexbox{
  padding: 0 2rem;
}

#formular{
    flex-basis: 50%;
}

#formular_impfung, #formular_sprechstunde{
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  height: auto;
  background-color: rgba(245, 238, 237,0.9);
  border: 2px solid rgba(189,193,160,0.6);
}


#formular_impfung .flexelement input,#formular_sprechstunde .flexelement input{
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-family: 'Lato','Raleway','Helvetica Neue','Arial',sans-serif;
}

#formular_impfung .flexelement p, #formular_sprechstunde .flexelement p{
  font-weight: bold;
  margin: 0;
}

#formular_impfung, #formular_sprechstunde, #nachricht{
  padding-bottom: 4rem;
  font-family: 'Lato','Raleway','Helvetica Neue','Arial',sans-serif;
}
#anzeige{
    flex-basis: 50%;
    margin-left: 20%;
}
.meldung{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: rgba(245, 238, 237,0.9);
  border: 2px solid rgba(189,193,160,0.6);
  overflow: hidden;
}
#fehler{
  overflow: hidden;
}

@media (max-width:1280px) {
  #termin h1{
    width: 70%;
  }
}

@media (max-width:1024px) {
  #termin h1{width: 95%;}
  #anzeige{margin-left:0;}
  #formular{margin-right: 0 !important;}
  #termin .flexcont .flexbox{
    padding: 0 0.5rem;
  }
}
/* ---------------------------------------------------------Leistungen------------------------------------------------------- */

#leistungen{
  position: relative;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(189,193,160,0.6); */
    /* background-image: linear-gradient(to right, rgba(0, 51, 102,0.3),rgba(245, 245, 245,0.5)); */
  background-color: rgb(216,171,107);
  padding: 1rem;
}

#leistungen h1{
  padding-top: 0.5;
  font-size: 2.5rem;
  text-decoration: none;
  position:   relative;
  padding-right:73%;
}

#leistungen>.flexbox .flexelement:first-of-type {
  flex-basis: 45%;
  margin-left:3rem;}
#leistungen>.flexbox .flexelement:last-of-type {
  flex-basis: 45%;
  margin-right: 3rem;
}

#leistungen .flexbox{
  position: relative;
  width: auto;
  display: flex;
  justify-content:space-around;
}

#leistungen >.flexbox .flexelement{
  position: relative;
  /* background-color: rgba(216,171,107,0.75); */
  padding: 2rem;
  /* border-radius: 10px; */
}

#leistungen >.flexbox .flexelement #kassenleistungen {
  height: 0;
  width: 100%;
  padding-top:63.15%;
  background: url("../img/Blutdruck.png") center no-repeat ;
  background-size: contain;
  border: none;
  cursor:pointer;
}
#leistungen >.flexbox .flexelement #selbstzahlerleistungen {
  height: 0;
  width: 100%;
  padding-top:63.15%;
  background: url("../img/kinesio.png") center no-repeat ;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#leistungen >.flexbox .leistung{
  position: absolute;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  /* background-image: linear-gradient(to left, rgba(245, 238, 237,0.9),rgba(245, 238, 237,00)) */
}

#kassenleistungen .leistung{
  left:2rem;
  top: 2rem;
}
#selbstzahlerleistungen .leistung{
  right:2rem;
  bottom: 2rem;
}

#kassenleistungen:hover{
   filter: grayscale(70%);
}
#selbstzahlerleistungen:hover{
   filter: grayscale(70%);
}

#leistungen .text{
  position:  relative;
  height:auto;
  width: 80%;
  bottom: 0px;
  margin: 2rem auto 1rem;
  padding: 1rem;
  background-color: rgba(216,171,107,0.75);
  border-radius: 10px;
  text-align: justify;
}
#leistungen2{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#leistungen2 .flexbox{
  width: auto;
  justify-content:space-around;
  display: flex;
}
#leistungen2 .flexelement{
  flex-basis: 30%;
  min-width:350px;
  background-color: rgba(189,193,160,0.8);
  padding: 1rem 0.5rem;
}

#leistungen2 .flexelement h1{
  padding: 0 auto;
}
#kasseaus{
  visibility: hidden;
}
#selbstaus{
  visibility: hidden;
}

 #selbstein li,#kasseein li{
   -webkit-animation: anni3;
           animation: anni3;
   -webkit-animation-duration: 2.5s;
           animation-duration: 2.5s;
   -webkit-animation-delay: 0.5s;
           animation-delay: 0.5s;
   -webkit-animation-iteration-count: 1;
           animation-iteration-count: 1;
   -webkit-animation-fill-mode: forwards;
           animation-fill-mode: forwards;
}

@-webkit-keyframes anni3 {
  0% {
color: rgba(0, 0, 0, 0);}
  20% {
color: rgba(0, 0, 0, .2);}
  40% {color: rgba(0, 0, 0, .4);
  }
  60% {
color: rgba(0, 0, 0, .6);
  }
  80% {
color: rgba(0, 0, 0, .8);
  }

  100%{
color: rgba(0, 0, 0, 1);
  }
}

@keyframes anni3 {
  0% {
color: rgba(0, 0, 0, 0);}
  20% {
color: rgba(0, 0, 0, .2);}
  40% {color: rgba(0, 0, 0, .4);
  }
  60% {
color: rgba(0, 0, 0, .6);
  }
  80% {
color: rgba(0, 0, 0, .8);
  }

  100%{
color: rgba(0, 0, 0, 1);
  }
}
#leistungen2 ul{
  margin-left: 2rem;}
#leistungen2 ul li{
  color: rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  list-style: none;
}


@media (max-width:1370px) {
#leistungen{width: 90%;}
}

@media (max-width:1280px) {
  #leistungen>.flexbox .flexelement:first-of-type {
    flex-basis: 45%;
    margin-left:0rem;}
  #leistungen>.flexbox .flexelement:last-of-type {
    flex-basis: 45%;
    margin-right: 0;
  }
}

@media (max-width:1024px) {
  #leistungen2 h1{
    font-size: 1.5rem;
  }
  #leistungen>.flexbox .flexelement{
    padding: 1rem;
  }
  #leistungen >.flexbox .leistung{
    font-size: 1.5rem;
  }
  #leistungen .text{
    width: 90%;}
  #selbstzahlerleistungen .leistung {
    right:1rem;
    bottom: 1rem;}
  #kassenleistungen .leistung {
      left:1rem;
      top: 1rem;}
  #leistungen2 .flexelement {
    min-width: 280px;}
}

@media (max-width:780px) {
  #leistungen>.flexbox .flexelement{
    padding: 0.5rem;}
  #leistungen >.flexbox .leistung{
    font-size: 1rem;}
  #leistungen .text{
    width: 100%;}
  #selbstzahlerleistungen .leistung {
    right:0rem;
    bottom: 0rem;}
  #kassenleistungen .leistung {
      left:0rem;
      top: 0rem;}
  #leistungen2 h1{
        font-size: 1rem;}
  #leistungen h1{
    font-size: 1.5rem;}
  #leistungen2 .flexelement{
    margin: 0 1.5rem;}
  #leistungen2 .flexelement {
    min-width: 250px;}
    #leistungen>.flexbox .flexelement:first-of-type {
      flex-basis: 48%;
      margin-left:0rem;}
    #leistungen>.flexbox .flexelement:last-of-type {
      flex-basis: 48%;
      margin-right: 0;
    }
  }

@media (max-width:600px) {
  #leistungen .text{
    margin: 1rem auto 0;}
  #leistungen >.flexbox .leistung{
    font-size: 0.8rem;}
  #leistungen2 .flexelement{
    margin: 0 1rem;}
  #leistungen2 .flexelement {
    min-width: 200px;}
  #leistungen2 ul{
    margin-left: 0;}
}
/*--------------------------- Kontakt---------------------------------------- */

#kontakt{
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}
#kontakt .flexbox{
  display: flex;
 justify-content: space-between;
}

#kontakt .flexelement:first-of-type{flex-basis: 35%;}
#map{
  width:100%;
  height:100%;
  border:0;
}
#kontakt .flexelement:last-of-type{
 flex-basis: 50%;
 padding: 2.5rem 0 2.5rem 4rem;
background-image: linear-gradient(to right, rgba(0, 51, 102,0.3),rgba(245, 245, 245,00))
}
#kontakt ul{
  list-style: none;
  padding-left: 0;
}
#kontakt li{
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

#kontakt #zeiten{
    padding: 1rem 4rem;
    margin-top: 50px;
    background-color: rgba(216,171,107,0.75);
    height: 200px;
    margin-bottom: 50px;

}
#kontakt  h1{
  text-align:left;
}

#kontakt #zeiten table{
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  border-collapse: collapse;
}
#kontakt #zeiten table td{
  padding-top: 1rem;
  border-bottom: 2px solid black;
}
#kontakt #zeiten table tr td:last-of-type{
  text-align: right;
}


@media (max-width:1580px) {
  #kontakt{
   width: 80%;
  }
}
@media (max-width:1370px) {
  #kontakt .flexelement:first-of-type{flex-basis: 40%;}
  #kontakt .flexelement:last-of-type{
   padding: 2rem 0 2rem 2rem;
  }
}


@media (max-width:780px) {
  #kontakt .flexbox{
    display: flex;
   justify-content: space-between;
   flex-direction: column;}
     #kontakt .flexelement:first-of-type{margin-bottom: 50px;}
     #kontakt #zeiten{padding: 1rem 1rem;}
     #kontakt{width: 90%;}

 }




/*--------------------------- Gesundheitsquiz---------------------------------------- */
#quizstart {
  position: relative;
  margin-left: auto;
  margin-right: auto;}

#quizstart div{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;

}
#quizstart div button{
  cursor:pointer;
  background-color: rgba(216,171,107,0.75);
  padding: 1.5rem 0.5rem;
  width: 150px;
  border: 2px solid black;
}

#fragenNr{
  margin-left: 25%;
  margin-right: auto;

}
#fragenNr .flexbox{display: flex;
}

#fragenNr .flexelement{
  flex-direction:   row;
  background-color: rgba(216,171,107,0.75);
  width:150px;
  border: 3px solid rgba(189,193,160,0.8);
  padding: 1.3rem;
  margin: 0 1rem;
}
#nextFrage:hover{
    border: 3px solid rgba(245, 238, 237,0.6);
  cursor:pointer;
}

#ergebnis{
  background-color: rgba(216,171,107,0.75);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgba(189,193,160,0.8);
  padding: 1rem;
}
#ergebnis div{
height: 70px;
width: 70px;
margin-left: auto;
margin-right: auto;
background:url("../img/daumen.png") top no-repeat ;
}
.drehengut{
  transform: rotateY(90deg);
  -webkit-animation: gut linear;
          animation: gut linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes gut {
  7% {transform: rotateY(75deg);}
  14%{transform: rotateY(60deg);}
  21%{transform: rotateY(45deg);}
  28%{transform: rotateY(30deg);}
  35%{transform: rotateY(15deg);}
  42%{transform: rotateY(0deg);
      transform: rotate(44deg);}
  49%{transform: rotate(88deg);}
  56%{transform: rotate(112deg);}
  63%{transform: rotate(156deg);}
  70%{transform: rotate(200deg);}
  77%{transform: rotate(244deg);}
  84%{transform: rotate(288deg);}
  91%{transform: rotate(324deg);}
  100%{transform: rotate(360deg);}
}
@keyframes gut {
  7% {transform: rotateY(75deg);}
  14%{transform: rotateY(60deg);}
  21%{transform: rotateY(45deg);}
  28%{transform: rotateY(30deg);}
  35%{transform: rotateY(15deg);}
  42%{transform: rotateY(0deg);
      transform: rotate(44deg);}
  49%{transform: rotate(88deg);}
  56%{transform: rotate(112deg);}
  63%{transform: rotate(156deg);}
  70%{transform: rotate(200deg);}
  77%{transform: rotate(244deg);}
  84%{transform: rotate(288deg);}
  91%{transform: rotate(324deg);}
  100%{transform: rotate(360deg);}
}

.drehenmittel{
  transform: rotateY(90deg);
  -webkit-animation: mittel linear;
          animation: mittel linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes mittel {
  7% {transform: rotateY(75deg);}
  14%{transform: rotateY(60deg);}
  21%{transform: rotateY(45deg);}
  28%{transform: rotateY(30deg);}
  35%{transform: rotateY(15deg);}
  42%{transform: rotateY(0deg);
      transform: rotate(50deg);}
  49%{transform: rotate(100deg);}
  56%{transform: rotate(150deg);}
  63%{transform: rotate(200deg);}
  70%{transform: rotate(250deg);}
  77%{transform: rotate(300deg);}
  84%{transform: rotate(350deg);}
  91%{transform: rotate(400deg);}
  100%{transform: rotate(450deg);}
}
@keyframes mittel {
  7% {transform: rotateY(75deg);}
  14%{transform: rotateY(60deg);}
  21%{transform: rotateY(45deg);}
  28%{transform: rotateY(30deg);}
  35%{transform: rotateY(15deg);}
  42%{transform: rotateY(0deg);
      transform: rotate(50deg);}
  49%{transform: rotate(100deg);}
  56%{transform: rotate(150deg);}
  63%{transform: rotate(200deg);}
  70%{transform: rotate(250deg);}
  77%{transform: rotate(300deg);}
  84%{transform: rotate(350deg);}
  91%{transform: rotate(400deg);}
  100%{transform: rotate(450deg);}
}
.drehenschlecht{
  transform: rotateY(90deg);
  -webkit-animation: schlecht linear;
          animation: schlecht linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes schlecht {
  7% {transform: rotateY(75deg);}
  14%{transform: rotateY(60deg);}
  21%{transform: rotateY(45deg);}
  28%{transform: rotateY(30deg);}
  35%{transform: rotateY(15deg);}
  42%{transform: rotateY(0deg);
      transform: rotate(60deg);}
  49%{transform: rotate(120deg);}
  56%{transform: rotate(180deg);}
  63%{transform: rotate(240deg);}
  70%{transform: rotate(300deg);}
  77%{transform: rotate(360deg);}
  84%{transform: rotate(420deg);}
  91%{transform: rotate(480deg);}
  100%{transform: rotate(540deg);}
}
@keyframes schlecht {
  7% {transform: rotateY(75deg);}
  14%{transform: rotateY(60deg);}
  21%{transform: rotateY(45deg);}
  28%{transform: rotateY(30deg);}
  35%{transform: rotateY(15deg);}
  42%{transform: rotateY(0deg);
      transform: rotate(60deg);}
  49%{transform: rotate(120deg);}
  56%{transform: rotate(180deg);}
  63%{transform: rotate(240deg);}
  70%{transform: rotate(300deg);}
  77%{transform: rotate(360deg);}
  84%{transform: rotate(420deg);}
  91%{transform: rotate(480deg);}
  100%{transform: rotate(540deg);}
}


#quiz {
  width: 70%;
  background-color: rgba(189,193,160,0.8);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
#quiz #frage{
  margin-left: auto;
  margin-right: auto;
}
#quiz .flexbox{
  display: flex;
}
#quiz .flexbox :nth-of-type(1) .flexelement{
  margin-left: auto;
  margin-right: auto;

}
#quiz .flexbox .flexelement p{
  position: relative;
  width: 95%;
  height: 5rem;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  text-align: center;
  vertical-align:middle;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#quiz .flexbox .flexelement{
  background-color:   rgba(245, 238, 237,0.6);
  width: 90%;
  margin: 0.7rem 2rem;
  height: 70px;
  align-items: center;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 96px solid rgba(216,171,107,0.75);
}

#quiz .antwortButton{
  margin-top: 1.5rem;
  background-color: rgba(189,193,160,0.8);
  height: 3rem;
  width:100%;
  border: 3px solid black;
  display: none;
    cursor:pointer;
}
#quiz .richtige{
  margin-top: 1.5rem;
  background-color: green;
  height: 3rem;
  width:100%;
  border: 3px solid black;
  display: none;
}
#quiz .falsche{
  margin-top: 1.5rem;
  background-color: red;
  height: 3rem;
  width:100%;
  border: 3px solid black;
  display: none;
}

#quiz .antwortButton:hover{
  border: 3px solid rgba(245, 238, 237,0.6);;
  filter:contrast(90%);
}


@media (max-width:1580px) {
  #quiz {
    width: 80%;
  }
}
@media (max-width:1370px) {
  #quiz {
    width: 90%;}
}

@media (max-width:1040px) {
  #quiz {
    width: 100%;
  }
  #fragenNr {
    margin-left: auto;
    margin-right: auto;
}
}
@media (max-width:780px) {
  #quiz .flexbox .flexelement{
    width: 100%;
  margin: 0.7rem 0.2rem;}
 }

/* --------------------------------footer ---------------------------------------------*/
#footer1{
  background-color: rgba(245, 238, 237,0.6);
  width:100%;
  height: 100px;
  position: relative;
  bottom: 0;
  margin-top: 50px;
}

footer #logoF{
  position:   absolute;
  margin-left: 3rem;
  margin-top: 1rem;
}
